body {
  overflow: hidden;
  background-image: url(../image/background.png);
}
.background-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -2;
}
#mainBody {
  position: relative;
  width: 80%;
  height: 90vh;
  z-index: 999;
  margin: 50px auto;
  padding: 10px;
}
#mainBody .top-body {
  width: 100%;
  height: 10vh;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;
  margin: 10px 0px;
  background: linear-gradient(15deg, transparent, skyblue);
}
#mainBody .top-body .image {
  border-radius: 100%;
}
#mainBody .top-body .image img {
  width: 120px;
  height: 120px;
}
#mainBody .top-body .right-content {
  text-align: right;
}
#mainBody .top-body .right-content h3 {
  color: skyblue;
  padding: 0;
  margin: 0;
  font-family: "oswald";
  font-size: 20px;
  font-weight: 600;
  color: #af4040;
  text-transform: uppercase;
}
#mainBody .top-body .right-content p {
  font-weight: bold;
}
#mainBody .top-body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}
#mainBody .bottom-body {
  width: 100%;
  border: 5px solid #ce6969;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#mainBody .bottom-body .nav-bar-tab {
  width: 18%;
  padding: 0;
  height: 70vh;
  margin-right: 2px;
  background-color: #ce6969;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#mainBody .bottom-body .nav-bar-tab div img {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 5px;
  background-color: yellow;
  border: 1px solid #ffffff;
}
#mainBody .bottom-body .nav-bar-tab div h4 {
  display: inline;
  text-align: right;
}
#mainBody .bottom-body .nav-bar-tab div p {
  text-align: right;
  display: inline;
}
#mainBody .bottom-body .nav-bar-tab ul {
  width: 100%;
  padding: 0 0 0 5px;
}
#mainBody .bottom-body .nav-bar-tab ul li {
  padding: 5px 5px;
  margin: 3px 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#mainBody .bottom-body .nav-bar-tab ul li:hover:not(.active) {
  background: gray;
  cursor: pointer;
}
#mainBody .bottom-body .nav-bar-tab ul li.active {
  background-color: white;
  cursor: pointer;
}
#mainBody .bottom-body .nav-bar-tab ul li a {
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "roboto";
}
#mainBody .bottom-body .nav-bar-tab ul li a i {
  margin: 5px;
}
#mainBody .bottom-body .nav-bar-tab button {
  padding: 5px 10px;
  border: none;
  font-size: 15px;
  color: #000000;
  border-radius: 25px;
  opacity: 0.9;
  cursor: pointer;
  transition: all linear 0.5s;
}
#mainBody .bottom-body .nav-bar-tab button i {
  padding: 0px 5px;
}
#mainBody .bottom-body .nav-bar-tab button:hover {
  opacity: 1;
}
#mainBody .bottom-body div {
  width: 79%;
  height: auto;
}
#mainBody .bottom-body div .tab-content {
  width: 100%;
  display: none;
  box-shadow: 0px 0px 2px green inset;
  border-radius: 5px;
  backdrop-filter: blur(30px);
}
#mainBody .bottom-body div .tab-content .tab-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  animation: fade 0.5s linear;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc {
  display: flex;
  align-items: center;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc h2 {
  font-size: 40px;
  font-family: "anton";
  color: black;
  word-spacing: 5px;
  letter-spacing: 5px;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc h3 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "anton";
  padding: 10px 0px;
  color: white;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc p {
  font-size: 14px;
  font-family: "roboto-bold";
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  padding: 5px;
  background: black;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc button {
  padding: 10px 25px;
  margin: 10px 0px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  color: white;
  background: linear-gradient(105deg, skyblue, transparent);
  transition: linear 1s;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc button:hover {
  background: linear-gradient(90deg, #b3423a, skyblue);
}
#mainBody .bottom-body div .tab-content .tab-item .formar-image-one {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 490px;
  transform: translate(-50%);
  box-sizing: border-box;
  transform: rotateY(180deg);
}
#mainBody .bottom-body div .tab-content .tab-item .formar-image-two {
  width: 490px;
  height: 400px;
  line-height: 10px;
}
#mainBody .bottom-body div #aboutUs .top {
  width: 100%;
  padding: 10px;
  position: relative;
}
#mainBody .bottom-body div #aboutUs .top h3 {
  width: 100%;
  font-size: 25px;
  padding: 10px 0;
  font-family: "oswald";
  font-weight: 600;
}
#mainBody .bottom-body div #aboutUs .top div {
  width: 100%;
}
#mainBody .bottom-body div #aboutUs .top div .left {
  width: 60%;
}
#mainBody .bottom-body div #aboutUs .top div .left p {
  font-size: 15px;
  margin: 10px 0px;
  font-family: "open-sans";
  width: 100%;
}
#mainBody .bottom-body div #aboutUs .top div .left .fas,
#mainBody .bottom-body div #aboutUs .top div .left .fab {
  color: green;
}
#mainBody .bottom-body div #aboutUs .top div .right {
  padding: 0 50px;
  width: 40%;
  line-height: mediun;
  font-family: "open-sans";
}
#mainBody .bottom-body div #aboutUs .top div .right div {
  margin: 15px 0px ;
  font-size: 20px;
  text-align: left;
  font-size: 15px;
}
#mainBody .bottom-body div #aboutUs .top div .right div span {
  margin-right: 10px;
  font-weight: 600;
  font-family: "roboto";
  letter-spacing: 1px;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo {
  font-size: 15px;
  font-family: "lato";
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo h3 {
  padding: 20px 0;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div {
  display: flex;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div div {
  background-color: rgba(206, 105, 105, 0.507);
  border-radius: 25px;
  margin: 0 2px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: white;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div div i {
  color: green;
  margin: 0 15px 0 5px;
  height: 30px;
  padding: 10px;
  background-color: #ce6969;
  border-radius: 50%;
  line-height: 15px;
  background-color: white;
  font-size: 15px;
}
#mainBody .bottom-body div #portfollio {
  padding: 10px;
}
#mainBody .bottom-body div #portfollio h3 {
  font-size: 25px;
  font-family: "oswald";
  margin: 10px 0px;
}
#mainBody .bottom-body div #portfollio div {
  width: 100%;
}
#mainBody .bottom-body div #portfollio div ul {
  width: 100%;
}
#mainBody .bottom-body div #portfollio div ul li {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
#mainBody .bottom-body div #portfollio .filter {
  width: 100%;
  padding-top: 100px;
}
#mainBody .bottom-body div #portfollio .filter div {
  display: inline-block;
  width: 20%;
  height: 100px;
  margin: 20px 10px;
}
#mainBody .bottom-body div #portfollio .filter div img {
  width: 100%;
  height: 100%;
  padding: 2px;
  background-color: skyblue;
}
#mainBody .bottom-body div #portfollio .filter div p {
  padding: 10px 0px;
  font-weight: bold;
}
