* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "oswald";
}
h1 {
  font-size: 10vw;
}
h2 {
  font-size: 10vw;
}
p {
  font-family: "roboto";
  font-size: 15px;
  color: gray;
}
body {
  background-color: rgba(228, 211, 211, 0.822);
}
html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
.download_btn {
  border-radius: 25px;
  border: 1px solid #dd8d31;
  padding: 5px 10px;
  width: 120px;
  height: 45px;
  line-height: 34px;
  position: relative;
  background-color: #dd8d31;
  color: white;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
}
.download_btn::after {
  content: "\21AA";
  font-size: 25px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  color: #dd8d31;
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border: 1px solid #dd8d31;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px white;
  z-index: 2;
}
.download_btn:hover {
  background-color: white;
  color: black;
  transition: all linear 0.3s;
}
.download_btn:hover:after {
  background-color: #dd8d31;
  color: white;
  transition: all linear 0.3s;
}
a {
  padding: 5px;
  font-weight: 600;
  color: black;
}
a:hover:not(.download_btn) {
  color: #dd8d31;
}
a i {
  padding: 0px 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_active {
  color: #dd8d31;
  border-bottom: 2px solid #dd8d31;
}
/*responsive breakpoints*/
#mainBody nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99999;
}
#mainBody #nav {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  z-index: 9999;
}
#mainBody #nav h2 {
  font-size: 20px;
  font-weight: 1200;
  line-height: 40px;
  font-family: "oswald";
}
#mainBody #nav .nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainBody #nav .nav_item ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainBody #nav .nav_item ul .nav-link a {
  padding: 5px;
  font-weight: 800;
  color: black;
}
#mainBody #nav .nav_item ul .nav-link a:hover:not(.download_btn) {
  color: #dd8d31;
}
#mainBody #nav .nav_item ul .nav-link a.nav_active {
  color: #dd8d31;
  border-bottom: 2px solid #dd8d31;
}
#mainBody #nav .nav_item ul .nav-link a i {
  padding: 0px 5px;
  display: none;
}
#mainBody #banner {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  padding: 30px 0px;
  display: inline-block;
  position: relative;
}
#mainBody #banner #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#mainBody #banner .banner_body {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
#mainBody #banner .banner_body .banner_disc .over h2 {
  font-size: 3VW;
  line-height: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mainBody #banner .banner_body .banner_disc .over h1 {
  font-weight: 800;
  font-size: 4vw;
  color: #dd8d31;
}
#mainBody #banner .banner_body .banner_disc .over p {
  line-height: 15px;
}
#mainBody #banner .banner_body .banner_disc .over .row {
  padding: 50px 0px;
}
#mainBody #banner .banner_body .banner_disc .over .row .col-6 div {
  border-bottom: 1px solid gray;
}
#mainBody #banner .banner_body .banner_disc .over .row strong {
  color: #dd8d31;
  text-transform: capitalize;
  line-height: 35px;
}
#mainBody #banner .banner_body .banner_disc .over a {
  margin-top: 15px;
}
#mainBody #banner .banner_body .image {
  border: 10px solid #dd8d31;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 90%;
  position: relative;
  background-color: white;
}
#mainBody #banner .banner_body .image:after {
  content: "zubair";
  position: absolute;
  bottom: 0;
  left: -10;
  overflow: hidden;
  width: 70%;
  height: 120px;
  font-size: 120px;
  line-height: 100px;
  font-family: "oswald";
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}
#mainBody #banner .banner_body .image .overlay {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #dd8d31;
  border-radius: 50%;
  font-size: 35px;
  line-height: 70px;
  color: white;
  box-shadow: 0px 0px 5px 1px white, 0px 0px 50px 10px white;
}
#mainBody #banner .banner_body .image .overlay:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 50%;
  border: 2px solid #dd8d31;
  z-index: -1;
}
#mainBody #banner .banner_body .image img {
  height: 100%;
  width: 100% border: 10px solid #dd8d31;;
  border-radius: 5px;
  text-align: left;
  margin-left: -50px;
}
