body {
  overflow: hidden;
}

.background-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index:-2 ;
}
#mainBody {
  position: relative;
  width: 80%;
  height: 80vh;
  border: 1px solid black;
  z-index: 999;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;

.mainOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: -1;
}

  .top-body {
    width: 100%;
    height: 10vh;
    border: 1px solid red;
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;
    margin: 10px 0px;
    img {
      width: 100%;
      height: 50px;
    }

    .right-content {
      text-align:right;
      h3 {
        padding: 0;
        margin: 0;
        font-family: "oswald";
        font-size: 20px;
        font-weight: 600;
        color: rgb(175, 64, 64);
        text-transform: uppercase;
      }

      p {
        font-weight: bold;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 1px solid black;
      backdrop-filter: blur(10px);
    }
  }

  .bottom-body {
    width: 100%;
    height: 65vh;
    border: 1px solid green;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    padding: 10px;
    
    .nav-bar-tab {
      width: 20%;
      background-color: rgb(206, 105, 105);
      ul {
        padding: 0px 5px;
        li{
          padding: 5px 0px;
          a {
            color: white;
          }
        }
      }

    }

    .tab-content {
      width: 80%;
      background-color: aqua;
    }
  
  }


}