body {
  overflow: hidden;
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding: 0px;
}
.go_to_back {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  transition: all linear 0.5s;
}
.current_posittion {
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50% ;
  transform: translate(-50%, -50%);
  transition: ease-in-out 5s;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: inherit;
  padding: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 5px;
  margin: 0px 2px;
  border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(56, 224, 247, 0.61);
}
.background-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -2;
}
#mainBody {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 999;
  margin: 0;
  padding: 10px;
}
#mainBody .top-body {
  width: 40%;
  height: 10vh;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;
  margin: 10px auto;
  background: linear-gradient(15deg, transparent, skyblue);
}
#mainBody .top-body .image {
  border-radius: 100%;
}
#mainBody .top-body .image img {
  width: 120px;
  height: 120px;
}
#mainBody .top-body .right-content {
  text-align: right;
}
#mainBody .top-body .right-content h3 {
  color: skyblue;
  padding: 0;
  margin: 0;
  font-family: "oswald";
  font-size: 20px;
  font-weight: 600;
  color: #af4040;
  text-transform: uppercase;
}
#mainBody .top-body .right-content p {
  font-weight: bold;
}
#mainBody .top-body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}
#mainBody .bottom-body {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}
#mainBody .bottom-body .nav-bar-tab {
  width: 15%;
  height: 100%;
  background-color: #00e1ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 10px 0px;
}
#mainBody .bottom-body .nav-bar-tab .nav-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  box-sizing: border-box;
  position: relative;
}
#mainBody .bottom-body .nav-bar-tab .nav-header img {
  border-radius: 50%;
  border-bottom-left-radius: 0;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 5px solid #ffffff;
}
#mainBody .bottom-body .nav-bar-tab .nav-header img ::after {
  content: "asdf";
  background-image: url("image/after_element.png");
  background-color: black;
  width: 100px;
  height: 100px;
}
#mainBody .bottom-body .nav-bar-tab .nav-header h2 {
  color: white;
  font-size: 35px;
  font-family: 'oswald';
  padding: 10px;
  text-transform: lowercase;
}
#mainBody .bottom-body .nav-bar-tab .nav-header P {
  font-size: 18px;
}
#mainBody .bottom-body .nav-bar-tab .nav-header .nav-follow-icon {
  display: flex;
  justify-content: center;
}
#mainBody .bottom-body .nav-bar-tab .nav-header .nav-follow-icon i {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: all linear 0.5s;
}
#mainBody .bottom-body .nav-bar-tab .nav-header .nav-follow-icon i:hover {
  opacity: 0.7;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  transition: all linear 0.5s;
}
#mainBody .bottom-body .nav-bar-tab ul {
  width: 100%;
  padding: 0 0 0 5px;
}
#mainBody .bottom-body .nav-bar-tab ul li {
  padding: 5px 5px;
  width: 100%;
  margin: 3px 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#mainBody .bottom-body .nav-bar-tab ul li:hover:not(.active) {
  background: gray;
  cursor: pointer;
  transition: linear 0.5s;
}
#mainBody .bottom-body .nav-bar-tab ul li.active {
  background-color: white;
  width: 90%;
  cursor: pointer;
  position: relative;
}
#mainBody .bottom-body .nav-bar-tab ul li.active.active::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
#mainBody .bottom-body .nav-bar-tab ul li a {
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "roboto";
}
#mainBody .bottom-body .nav-bar-tab ul li a i {
  margin: 5px;
}
#mainBody .bottom-body .nav-bar-tab button {
  padding: 5px 10px;
  border: none;
  font-size: 15px;
  color: #000000;
  border-radius: 25px;
  opacity: 0.9;
  cursor: pointer;
  transition: all linear 0.5s;
}
#mainBody .bottom-body .nav-bar-tab button i {
  padding: 0px 5px;
}
#mainBody .bottom-body .nav-bar-tab button:hover {
  opacity: 1;
}
#mainBody .bottom-body div {
  width: 85%;
}
@keyframes fade {
  0% {
    left: 100%;
  }
  20% {
    left: 100%;
  }
  30% {
    left: 90%;
  }
  40% {
    left: 80%;
  }
  50% {
    left: 0px;
  }
  70% {
    left: -20px;
  }
  80% {
    left: -40px;
  }
  100% {
    left: 0px;
  }
}
#mainBody .bottom-body div .tab-content {
  width: 100%;
  transition: all linear 0.5s;
  border-radius: 5px;
  backdrop-filter: blur(50px);
}
#mainBody .bottom-body div .tab-content .tab-item {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-Y: scroll;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(230deg, rgba(255, 255, 0, 0.527), transparent);
  border-top-right-radius: 100%;
  text-align: center;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc .over {
  padding-top: 50px;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc .over h2 {
  font-size: 40px;
  font-family: "open-sans";
  color: black;
  word-spacing: 5px;
  letter-spacing: 5px;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc .over h3 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "anton";
  padding: 10px 0px;
  color: #0aeeb5;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc .over h3 .first_name {
  display: block;
  font-size: 60px;
  color: white;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc .over p {
  font-size: 14px;
  font-family: "roboto-bold";
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  padding: 5px;
  background: black;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc button {
  padding: 10px 35px;
  margin: 10px auto;
  font-size: 20px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: skyblue;
  border-radius: 25px;
  transition: all linear 1s;
}
#mainBody .bottom-body div .tab-content .tab-item .tab-disc button:hover {
  transition: all linear 0.5s;
  background: linear-gradient(90deg, #b3423a, skyblue);
}
#mainBody .bottom-body div .tab-content .tab-item div .formar-image-one {
  border-radius: 50%;
  border-top-left-radius: 0;
  border: 3px solid yellow;
  background-color: yellow;
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  width: 500px;
  image-orientation: inherit ;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transform: rotateY(180deg);
  transition: all linear 0.5s;
}
#mainBody .bottom-body div .tab-content .tab-item div .formar-image-one:hover {
  border-top-left-radius: 0;
  transition: all linear 0.5s;
}
#mainBody .bottom-body div #aboutUs {
  height: 90vh;
  overflow-y: scroll;
}
#mainBody .bottom-body div #aboutUs .top {
  width: 100%;
  padding: 10px;
  position: relative;
}
#mainBody .bottom-body div #aboutUs .top h3 {
  width: 100%;
  font-size: 25px;
  padding: 10px 0;
  font-family: "oswald";
  font-weight: 600;
}
#mainBody .bottom-body div #aboutUs .top div {
  width: 100%;
}
#mainBody .bottom-body div #aboutUs .top div .left {
  width: 60%;
}
#mainBody .bottom-body div #aboutUs .top div .left p {
  font-size: 15px;
  margin: 10px 0px;
  font-family: "open-sans";
  width: 100%;
}
#mainBody .bottom-body div #aboutUs .top div .left .fas,
#mainBody .bottom-body div #aboutUs .top div .left .fab {
  color: green;
}
#mainBody .bottom-body div #aboutUs .top div .right {
  padding: 0 50px;
  width: 40%;
  line-height: mediun;
  font-family: "open-sans";
}
#mainBody .bottom-body div #aboutUs .top div .right div {
  margin: 15px 0px ;
  font-size: 20px;
  text-align: left;
  font-size: 15px;
}
#mainBody .bottom-body div #aboutUs .top div .right div span {
  margin-right: 10px;
  font-weight: 600;
  font-family: "roboto";
  letter-spacing: 1px;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo {
  font-size: 15px;
  font-family: "lato";
  margin-top: 100px;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo h3 {
  padding: 20px 0;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div {
  display: flex;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div div {
  background-color: rgba(56, 224, 247, 0.61);
  border-radius: 25px;
  margin: 0 2px;
  line-height: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: black;
  padding: 5px;
}
#mainBody .bottom-body div #aboutUs .top .whatICanDo div div i {
  color: green;
  margin: 0 15px 0 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ce6969;
  border-radius: 50%;
  line-height: 15px;
  background-color: white;
  font-size: 18px;
}
#mainBody .bottom-body div #aboutUs .top .myskill {
  margin-top: 50px;
}
#mainBody .bottom-body div #aboutUs .top .myskill .skill-body {
  display: flex;
  width: 70%;
  justify-content: center;
  padding: 5px 20px;
  background: linear-gradient(90deg, transparent, #b3423a, skyblue, transparent);
}
#mainBody .bottom-body div #aboutUs .top .myskill .skill-body div {
  font-size: 20px;
  font-weight: 600;
  font-family: "roboto-bold";
  text-align: right;
  background-color: white;
  padding: 5px;
}
#mainBody .bottom-body div #aboutUs .top .myskill .skill-body .icon {
  text-align: left;
}
#mainBody .bottom-body div #aboutUs .top .myskill .skill-body .icon i {
  margin: 0px 5px;
}
#mainBody .bottom-body div #portfollio {
  height: 90vh;
  overflow-y: scroll;
  padding: 10px;
}
@keyframes fade-2 {
  0% {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -100%;
  }
  20% {
    top: -100%;
  }
  30% {
    top: 90%;
  }
  40% {
    top: 50%;
  }
  50% {
    top: 0px;
  }
  60% {
    top: 50%;
  }
  70% {
    bottom: -20px;
  }
  80% {
    bottom: -40px;
  }
  100% {
    left: 0px;
  }
}
#mainBody .bottom-body div #portfollio h3 {
  font-size: 25px;
  font-family: "oswald";
  margin: 10px 0px;
}
#mainBody .bottom-body div #portfollio div {
  width: 100%;
}
#mainBody .bottom-body div #portfollio div ul {
  width: 100%;
}
#mainBody .bottom-body div #portfollio div ul li {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: all linear 0.5s;
}
#mainBody .bottom-body div #portfollio div ul li:hover {
  background-color: gray;
  padding: 5 10px;
  border-radius: 20px;
  color: white;
}
#mainBody .bottom-body div #portfollio .filter {
  width: 100%;
  margin: 100px auto;
}
#mainBody .bottom-body div #portfollio .filter div {
  display: inline-block;
  width: 15%;
  height: 170px;
  margin: 5px;
  background-color: skyblue;
}
#mainBody .bottom-body div #portfollio .filter div img {
  width: 100%;
  height: 130px;
  padding: 2px;
  background-color: skyblue;
}
#mainBody .bottom-body div #portfollio .filter div p {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 10px;
  width: 100%;
  height: 50px;
  color: white;
}
#mainBody .bottom-body div #testimonial {
  padding: 10px 30px;
  box-sizing: border-box;
  margin: 0px 10px;
  overflow-y: scroll;
  width: 99%;
  height: 90vh;
  background-color: rgba(135, 207, 235, 0.452);
}
@keyframes fade3 {
  0% {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -100%;
  }
  20% {
    top: 100%;
  }
  30% {
    top: 90%;
  }
  40% {
    top: 50%;
  }
  50% {
    top: 0px;
  }
  60% {
    top: 50%;
  }
  70% {
    right: -20px;
  }
  80% {
    right: -40px;
  }
  100% {
    right: 0px;
  }
}
#mainBody .bottom-body div #testimonial .top {
  font-size: 40px;
  font-family: 'oswald';
  font-weight: 600;
  padding: 30px 0px;
  color: #000000;
  position: relative;
  text-transform: uppercase;
}
#mainBody .bottom-body div #testimonial .top::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-image: url("../image/after_element.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  z-index: -1;
}
#mainBody .bottom-body div #testimonial .bottom {
  width: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .title {
  font-size: 25px;
  font-family: 'oswald';
  font-weight: 600;
  padding: 30px 0px;
  color: #000000;
  position: relative;
}
#mainBody .bottom-body div #testimonial .bottom .title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url("../image/after_element.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  z-index: -1;
}
#mainBody .bottom-body div #testimonial .bottom .left {
  width: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu {
  font-size: 15px;
  font-family: "roboto";
  display: flex;
  justify-content: space-between;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu .ins_name {
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu .ins_name::after {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  border-radius: 25px;
  background: linear-gradient(135deg, transparent, green);
  width: 3px;
  height: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu .ins_name::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  border-radius: 25px;
  background: linear-gradient(45deg, transparent, green);
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu .dift_name {
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu .dift_name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(45deg, transparent, green);
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu:hover .ins_name::before {
  left: 100%;
  transition: all linear 0.52s;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu:hover .ins_name::after {
  transition: linear 0.5s;
  transition-delay: 0.2s;
  top: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .left .current-edu:hover .dift_name::after {
  transition: linear 0.5s;
  transition-delay: 0.4s;
  left: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .right {
  padding-left: 20px;
}
#mainBody .bottom-body div #testimonial .bottom .right .framework {
  padding: 20px 0px;
  font-size: 20px;
  font-family: "oswald";
  color: blck;
  font-weight: 600;
}
#mainBody .bottom-body div #testimonial .bottom .right .element {
  width: 100%;
}
#mainBody .bottom-body div #testimonial .bottom .right .element span {
  padding: 5px 10px;
  background-color: skyblue;
  color: #030303;
  margin: 0px 3px;
  border-radius: 5px;
}
#mainBody .bottom-body div #testimonial .bottom .right .element span:hover {
  opacity: 0.7;
  cursor: pointer;
}
#mainBody .bottom-body div #testimonial .cretificate {
  width: 100%;
}
#mainBody .bottom-body div #testimonial .cretificate .title {
  font-size: 25px;
  font-family: 'oswald';
  font-weight: 600;
  padding: 30px 0px;
  position: relative;
}
#mainBody .bottom-body div #testimonial .cretificate .title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url("../image/after_element.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  z-index: -1;
}
#mainBody .bottom-body div #testimonial .cretificate .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body {
  display: inline-block;
  width: 30%;
  border-radius: 5px;
  margin: 8px;
  border: 2px solid gray;
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body .element {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body .element .left {
  width: 100%;
  padding: 0px 5px;
  height: 80px;
  background-color: gray;
  font-family: "roboto";
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body .element .left p {
  font-family: "roboto";
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body .element .right {
  width: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
#mainBody .bottom-body div #testimonial .cretificate .items .cf_body .element .right p {
  width: 100%;
}
#mainBody .bottom-body div #contact {
  width: 99%;
  height: 90vh;
  border: 2px solid skyblue;
  margin: 0px 10px;
  padding: 10px;
  overflow-y: scroll;
}
#mainBody .bottom-body div #contact .heading {
  padding: 20px 0px;
}
#mainBody .bottom-body div #contact .heading h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: rgba(196, 196, 34, 0.527);
  margin: 10px 0px;
  font-family: 'oswald';
}
#mainBody .bottom-body div #contact .heading h3::after {
  content: "";
  width: 100%;
  background-color: rgba(196, 196, 34, 0.527);
  height: 5px;
}
#mainBody .bottom-body div #contact .contact_form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'oswald';
  background-color: #23e1e7;
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
#mainBody .bottom-body div #contact .contact_form fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #9c9c9c;
  padding: 20px;
}
#mainBody .bottom-body div #contact .contact_form fieldset label {
  color: black;
  margin: 0;
  font-weight: 600;
}
#mainBody .bottom-body div #contact .contact_form fieldset input,
#mainBody .bottom-body div #contact .contact_form fieldset select,
#mainBody .bottom-body div #contact .contact_form fieldset textarea {
  width: 100%;
  padding: 10px 25px;
  margin: 5px 0px;
  border: 1px solid white;
  outline: none;
  background-color: whitesmoke;
}
#mainBody .bottom-body div #contact .contact_form fieldset input:focus,
#mainBody .bottom-body div #contact .contact_form fieldset select:focus,
#mainBody .bottom-body div #contact .contact_form fieldset textarea:focus {
  border: 1px solid blue;
  outline: none;
}
#mainBody .bottom-body div #contact .contact_form fieldset input {
  border-radius: 10px;
  color: black;
}
#mainBody .bottom-body div #contact .contact_form fieldset button {
  background-color: blue;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0px;
}
