:root {
    --primary : rgb(221, 141, 49);
    --secoundry : rgb(204, 143, 74);
    --black: black;
    --white: white;
}


@media  screen and (max-width:500px) {
    #education{
        margin-top:300px;
    }
    #my_work {
        margin-top: 590px;
    }
    .sm_none {
        display: none;
    }
    .coading {
        display: block;
    }
    .logo{
        /* display: none; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo i {
        background-color: var(--primary);
        padding: 20px;
        display: inline-block;
    }
    #mainBody nav {
       border: none;
       width: 100%;
       padding: 0px;
    }   


    #mainBody nav .overlay{
        /* position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        z-index: -1; */
    }
    #mainBody #nav .nav_item {
        display: block;
        position: absolute;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100vh;
        font-size: 25px;
        background-color: var(--white);
        z-index: 99;
        
    }
    #mainBody #nav .nav_item .close_button {
        position: absolute;
        top: 5px;
        right: 0;
        padding: 15px;
        font-size: 15px;
        background-color: var(--primary);
    }
    #mainBody nav #nav .nav_item ul {
        padding: 10px;
        /* border: 1px solid black; */
        display: block;
    }
    #mainBody #nav .nav_item ul .nav_link {
        padding: 10px 15px;
        width: 100%;
    }

    .download_btn {
        margin: 20px auto;
    }

    /* banner   */
    #mainBody #banner {
        text-align: center;
    }
    #mainBody #banner .banner_body .banner_disc .over h2 {
        font-size: 30px;
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        text-align: center;
    }


    /* about me */
    #mainBody #about-me {
        text-align: center;
    }
    #contact .contact_body .right .email-field {
        width: 100%;
    }


    /* add */
    #mainBody #service .my_add {
        display: none;
    }

    .mobile-none {
        display: none;
    }
}
@media (min-width:401px) {
    .bg_block {
        display: none;
    }
}






