@font-face {
  font-family: "oswald";
  src: url("/font/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("/font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("/font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "lato";
  src: url("/font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato-bold";
  src: url("/font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "open-sans";
  src: url("/font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  src: url("/font/Open_Sans/OpenSans-Bold.ttf");
}